
.idea
*.iws
*.iml
*.ipr
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.node_modules
.dist

# compiled output
/tmp
/out-tsc

# dependencies
/node_modules
/npm-debug.log
/example/
/coverage/
/.nyc_output/
